/* drag styles for images  */
html {
    box-sizing: border-box;
    background-color: #353535;
    overflow-x: hidden;
    scroll-behavior: smooth;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/* style for border box on the page. */
html {
    box-sizing: border-box;
}

/*  */
*,
*:before,
*:after {
    box-sizing: inherit;
}

/* styles for all general images */
img {
    pointer-events: none;
}

/* styles for all images with id of close. */
img#close {
    pointer-events: all;
    opacity: 1;
    position: relative;
    top: 0;
    left: 0;
    height: auto;
}

/* position and transition styles for content in wrapper. */
div#wrapper {
    position: relative;
    left: 0%;
    transition: 1s;
}

/* Puts the menu nav on the left side of the page. */
div#wrapper.menu {
    left: 320px;
}

/* no extra space will show on the body of the page. */
body {
    margin: 0;
    overflow: hidden;
}

/* Background and position styles for the menu nav.  */
nav {
    display: block;
    height: 90px;
    background: #f90;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
}

/* display and background styles for the header. */
header {
    position: relative;
    display: block;
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("students.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}

/* space between and moving header up and left. */
header main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    display: block;
    position: relative;
}

/* font styles and space around primary heading styles in header. */
header h1 {
    position: relative;
    z-index: 5;
    font-size: 60px;
    color: white;
    font-family: usual, sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 0 0 16px;
    padding-top: 40px;
    line-height: 1em;
    max-width: 720px;
}

/* font styles and space around primary heading styles in header. */
header h2 {
    position: relative;
    z-index: 5;
    font-size: 36px;
    color: white;
    font-family: usual, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    line-height: 1em;
    max-width: 600px;
}

/* outline, border, font styles and space styles for the anchor links in the header. */
header main a {
    display: inline-block;
    font-size: 26px;
    color: whitesmoke;
    font-family: usual, sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 40px 0 0;
    border: 4px #f90 solid;
    padding: 12px 24px;
    text-decoration: none;
    outline: 0 #f90 solid;
    transition: .2s;
    text-transform: uppercase;
    position: relative;
    z-index: 5;
}

/* background color for the lunks when hovered over with the mouse. */
header main a:hover {
    background: #f90;
}

/* display position styles for the spacer between content. */
header .spacer {
    display: block;
    height: 30px;
}

/* font styles for the text in the paragraph tags. */
header p {
    font-size: 28px;
    color: white;
    font-family: usual, sans-serif;
    font-weight: 400;
    font-style: normal;
    position: relative;
    z-index: 5;
}

/* Position and size styles for menu image on top. */
.hamburger {
    position: fixed;
    top: 20px;
    left: 20px;
    display: block;
    height: 48px;
    width: 48px;
    background: url("hamburger.png");
    background-size: cover;
    background-position: center;
    z-index: 101;
}

/* moving styles for menu nav and general color styles. */
#menu {
    display: block;
    background: rgb(12, 12, 12);
    padding: 20px;
    position: fixed;
    top: 0;
    left: -320px;
    width: 320px;
    height: 100vh;
    transition: 1s;
    z-index: 102;
}

/* moving styles for menu nav */
#menu.open {
    left: 0%;
}

/* font styles and positioning fro links on the menu nav. */
#menu a {
    display: inline-block;
    color: white;
    font-family: usual, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-size: 24px;
    clear: both;
    margin-top: 10px;
    float: left;
}

/* margins for register section on menu nav. */
#menu a#register {
    margin-top: 80px;
}

/*  */
#menu a:after {
    display: block;
    content: '';
    height: 3px;
    background: white;
    width: 0%;
    transition: .4s;
}

/*  */
#menu a:hover::after {
    width: 100%;
}

/*  */
#menu h1 {
    display: block;
    color: #f90;
    font-family: usual, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    font-size: 38px;
    clear: both;
    margin-top: 10px;
    padding-top: 0;
    text-transform: uppercase;
}

/*  */
#menu img {
    height: 48px;
    width: 48px;
    float: right;
}

/*  */
section {
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
    padding: 80px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/*  */
section.short {
    padding: 40px 20px;
    max-width: 1600px;
}

/*  */
section.footer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #353535;
}

/*  */
article.white section {
    max-width: 1400px;
    margin: 0 auto;
    padding: 80px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/*  */
section div {
    position: relative;
    margin: 20px;
    display: block;
}

/*  */
section div.image {
    background: url("fight.jpg");
    background-position: center;
    background-size: cover;
    display: block;
    height: 600px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    transition: .2s;
    
}

/*  */
section div.image:hover {
    box-shadow: 0 20px 20px rgb(0, 0, 0);

}

/*  */
section div.image#arrest {
    background: url("arrest2.jpg");
    background-position: center;
    background-size: cover;
    display: block;
    height: 600px;
}

/*  */
section div.image#students {
    background: url("students.jpg");
    background-position: center;
    background-size: cover;
    display: block;
    height: 600px;
}

/*  */
section div.image h1 {
    font-family: usual, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    font-size: calc(22px + 2vw);
    position: relative;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-transform: uppercase;
    text-shadow: 0 0 10px black;
}

/*  */
section.footer div {
    padding: 10px 10px 10px;
}

/*  */
section svg {
    display: block;
    margin: 0 auto 20px;
    filter: drop-shadow(0 0 5px black);
}

/*  */
section h1 {
    font-size: 32px;
    color: #f90;
    font-family: usual, sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 0;
    line-height: 1em;
    text-align: center;
}

/*  */
section p {
    font-size: 20px;
    color: white;
    font-family: usual, sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*  */
section a {
    display: inline-block;
    font-size: 26px;
    color: whitesmoke;
    font-family: usual, sans-serif;
    font-weight: 700;
    font-style: normal;
    border: 3px #f90 solid;
    padding: 12px 24px;
    text-decoration: none;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    transition: .2s;
    margin: 10px 0;
    left: 50%;
    transform: translateX(-50%);
}

/*  */
section.footer a {
    position: relative;
    display: inline-block;
    padding: 0px 10px 10px;
    border: 0;
    text-align: left;
    font-size: 20px;
    left: 0;
    transform: translateX(0);
    margin: 0;
}

/*  */
section.footer a:after {
    display: block;
    content: '';
    height: 5px;
    background: #f90;
    width: 0%;
    transition: .7s;
}

/*  */
.footer a:hover::after {
    width: 100%;
}

/* Position and transform a tag. */
section#clear a {
    left: 0;
    transform: translateX(0);
}

/* Set footer image size and position. */
.footer img {
    display: block;
    position: absolute;
    bottom: 20%;
    right: 0px;
    height: 80%;
    opacity: .1;
}

/* Set form position. */
form {
    position: relative;
}

/* Position and size images. */
article img,
header img,
section img {
    display: block;
    position: absolute;
    top: 10%;
    left: 6%;
    height: 60%;
    opacity: .1;
}

/* Style section images and set blend mode to overlay. */
section img {
    max-width: 20vw;
    height: auto;
    opacity: 1;
    mix-blend-mode: overlay;
}

/* Style footer headings. */
section.footer h1 {
    text-align: left;
    margin-bottom: 30px;
    text-shadow: 0 0 5px black;
    padding: 10px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 26px;
}

/* Style social icons. */
section.footer a.social {
    font-size: 32px;
    display: inline-block;
    border-radius: 50px;
    border: 3px solid white;
    height: 64px;
    width: 64px;
    position: relative;
    text-align: center;
}

/* Set height of after pseudo element. */
section.footer a.social:after {
    height: 0;
}

/* Position link icons. */
section.footer a.social i {
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

/* Add hover color */
section.footer a:hover {
    color: #f90;
    background: none;
}

/* Add bottom padding to section divs inside article with class of white. */
article.white section div {
    padding-bottom: 10px;
}

/* Position and set display of section links. */
article.white section a {
    position: relative;
    display: inline-block;
}

/* Position, set background and add padding. */
article {
    position: relative;
    background: linear-gradient(45deg, black, rgb(56, 56, 56));
    padding: 40px 20px;
}

/* Add background color and padding */
article.white {
    background: black;
    padding: 40px 20px;
}

/* Added and centered background image, set size to cover. */
article.white div.image {
    display: block;
    background: url("background.png");
    background-size: cover;
    background-position: center;
    outline: 17px rgba(255, 162, 0, 0.577) solid;
    outline-offset: -20px;
}

/* Added and centered background image, set size to cover. */
article#crime {
    background: url("crime banner.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Added and centered background gradient, set size to cover. */
article#contact {
    background: linear-gradient(90deg, rgba(255, 153, 0, 0.5), rgba(0, 0, 0, 0)), url("crime banner.png");
    background-size: cover;
    background-position: center;
}

/* Added and centered background image, set size to cover. */
article#northwest {
    background: url("northwest.png");
    background-size: cover;
    background-position: center;
    padding: 80px 20px;
}

/* Center div and set max width. */
article div.content {
    display: block;
    margin: 10px auto;
    max-width: 1200px;
}

/* Center div and set max width.  */
article div.content_wide {
    max-width: 1600px;
    margin: 10px auto;
}

/* Display as grid with max-width of 1400px  */
article div.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1400px;
    margin: 0 auto;
}

/* Set div inside div with class of grid to margin of 0. */
div.grid div {
    margin: 0;
}

/* Added and centered background image, set size to cover. */
div.grid div.imageright {
    background: url("students.jpg");
    background-position: center;
    background-size: cover;
    display: block;
    width: auto;
    margin-left: 10px;
    
}

/* Added and centered background image, set size to cover. */
div.grid div.imageright#imagectso {
    background: url("fight.jpg");
    background-position: center;
    background-size: cover;
    display: block;
    width: auto;
    
}

/* Added and centered background image, set size to cover. */
div.grid div.imageright#imagecollege {
    background: url("arrest2.jpg");
    background-position: top center;
    background-size: cover;
    display: block;
    width: auto;
    
}

/* Added and centered background image, set size to cover. */
div.grid div.imageright#imageteacher {
    background: url("WestMEC headshot.jpg");
    background-position: center;
    background-size: cover;
    display: block;
    width: auto;
    
}

/* Centered and added shadow to svg. */
article svg {
    filter: drop-shadow(0 0 5px black);
    margin: 0 auto;
    display: block;
}

/* Set font, position, and color styles. */
article h1 {
    font-size: 48px;
    color: #f90;
    font-family: usual, sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 0 0 24px;
    line-height: 1em;
    position: relative;
    z-index: 5;
}

/* Set font size */
article h1.hero {
    font-size: 72px;
}

/* styles for the secondary heading  */
article h2 {
    font-size: 32px;
    color: white;
    font-family: usual, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    line-height: 1em;
    position: relative;
    z-index: 5;
    position: relative;
    z-index: 5;
}


article h1.center,
article h2.center,
article p.center {
    text-align: center;
    margin: 16px 0 0;
    position: relative;
    z-index: 5;
}

/* Add text and styles to the article p tag. */
article p {
    font-size: 24px;
    color: white;
    font-family: usual, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 40px;
    position: relative;
    z-index: 5;
}

/* Adds text, border, margin, padding styles to the article links and buttons. */
article a,
article button {
    display: inline-block;
    font-size: 26px;
    color: whitesmoke;
    font-family: usual, sans-serif;
    font-weight: 700;
    font-style: normal;
    border: 3px #f90 solid;
    padding: 12px 24px;
    text-decoration: none;
    margin: 10px 10px 20px 0;
    text-transform: uppercase;
    transition: .2s;
    background: transparent;
    position: relative;
    z-index: 5;

}

/* Centers links in the article tag */
article a.center {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
    position: relative;
    z-index: 5;
}

/* Every time the mouse is hovered over the article button and anchor links, the background is changed to an orange. */
article a:hover,
article button:hover,
section a:hover {
    background: #f90;
}

/* Makes primary headings to color of orange pushed to the left. */
article.white h1 {
    color: #f90;
    border-color: black;
    text-align: left;
}

/* pushes the secondary heading, paaragraph, and anchor links to the left.  */
article.white h2,
article.white p,
article.white a {
    position: relative;
    z-index: 5;
    text-align: left;
}

/* pushes the paragraph down in the article.  */
article.white p {
    margin-top: 20px;
}

/* Makes the map full width of the page. */
iframe {
    width: 100%;
    display: block;
    height: 600px;
}

/* Stles for the video clips on top of page. */
#law_video {
    display: block;
    position: absolute;
    top: 0;
    min-height: 100vh;
    min-width: 100vh;
    left: 50%;
    transform: translateX(-50%);
}


/* The media querry is for up to 1000 px max and the styles are only for devices that contains  px screens. */
@media screen and (max-width: 1000px) {

    /* For Section, article.white section, and section.footer shrinks down to one fr.   */
    section,
    article.white section,
    section.footer {
        grid-template-columns: 1fr;
    }

    /* The images in the article, header, and the section will be be positioned and will not move.  */
    article img,
    header img,
    section img {
        display: block;
        position: absolute;
        top: 10%;
        left: 6%;
        height: 40%;
    }

    /*  */
    section img {
        max-width: 120vw;
        opacity: 1;
        mix-blend-mode: overlay;
    }

    /* makes the div content inside of the section have 20 px on top.  */
    section div {
        position: relative;
        margin: 20px 0;
        display: block;
    }

    /*  */
    section div.image h1 {
        font-family: usual, sans-serif;
        font-weight: 700;
        font-style: normal;
        color: white;
        font-size: calc(22px + 8vw);
    }
}

/* The media querry is for up to 800 px and the styles are only for devices that contains 800 px screens. */
@media screen and (max-width: 800px) {


    #law_video {
        display: none;
    }


    /* shrinks down the page to one fr. */
    article div.grid {
        display: grid;
        grid-template-columns: 1fr;
    }

    /* removes the margins on the images. */
    div.grid div {
        margin: 0;
    }

    /* Pushes the image to the center of the page and is pushed bottom.  */
    div.grid div.imageright {
        background: url("students.jpg");
        background-position: center;
        background-size: cover;
        display: block;
        height: 400px;
        margin-top: 20px;
        margin-left: 0px;
    }

}

/* The scroll to top button scrolls with the user, the button is on the right, background color of whitesmoke, the image color of orange.  */
#buttonTop {
    position: fixed;
    bottom: 30px;
    right: 15px;
    background-color: whitesmoke;
    color: #f90;
    cursor: pointer;
    padding: 15px;
    border-radius: 15px;
    font-size: 24px;
    z-index: 100;
}

/* When the mouse hovers over the scroll to top button, the nutton will change to a medium grey. */
#buttonTop:hover {
    background-color: #434443;

}

/* Makes all the labels above the form inputs and textarea boxes have a color of white, makes the font bolded and makes the labels be in uppercase. */
form label {
    position: relative;
    display: block;
    border: 0;
    text-align: left;
    margin: 8px 0 0;
    color: white;
    font-family: usual,
        sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    text-transform: uppercase;
}

/* gives the input boxes in the contact form no outline, make a bottom border thats orange, bolds the font and make the font color orange.  */
form input {
    position: relative;
    display: block;
    padding: 8px 0;
    margin: 0px;
    border: 0;
    text-align: left;
    margin: 0 0 16px;
    color: rgba(162, 161, 161, 0.797);
    font-family: usual,
        sans-serif;
    font-weight: 700;
    font-style: normal;
    border-bottom: 4px orange solid;
    font-size: 22px;
    background: transparent;
    text-transform: uppercase;
    outline: none;
}

/* gives the textarea box in the contact form no outline, make a bottom border thats orange, bolds the font and make the font color orange.  */
form textarea {
    position: relative;
    display: block;
    padding: 8px 0;
    margin: 0px;
    border: 0;
    text-align: left;
    color: orange;
    font-family: usual,
        sans-serif;
    font-weight: 700;
    font-style: normal;
    border-bottom: 4px orange solid;
    font-size: 22px;
    background: transparent;
    text-transform: uppercase;
    height: 120px;
    width: 80%;
    resize: none;
    outline: none;
}

/* Gives no outline on the inputs in the contact form, makes the font color a white grey with an slight opacity. */
input::placeholder {
    outline: none;
    color: #c9c5c5e2;
    font-size: 17px;
}

/* Set fixed scrolling to scroll on iOS devices that do not support parallax. */
@supports (-webkit-overflow-scrolling: touch) {

    header,
    section,
    article {
        background-attachment: scroll;
    }
}

@supports not (-webkit-overflow-scrolling: touch) {

    header,
    section,
    article,
        {
        background-attachment: fixed;
    }
}