@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');

nav {
    background: rgb(204, 1, 1);
    display: block;
    padding: 0 40px;
}

nav a {
    color: white;
    text-decoration: none;
}