html {
    box-sizing: border-box;
    background-color: #353535;
    overflow-x: hidden;
    scroll-behavior: smooth;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

img {
    pointer-events: none;
}

img#close {
    pointer-events: all;
}



div#wrapper {
    position: relative;
    left: 0%;
    transition: 1s;

}

div#wrapper.menu {
    left: 320px;
}

body {
    margin: 0;
    overflow: hidden;
}

nav {
    display: block;
    height: 90px;
    background: #f90;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
}

header {
    position: relative;
    display: block;
    background: repeating-linear-gradient(45deg,
        rgba(255, 153, 0, 0.025),
        rgba(255, 153, 0, 0.025) 40px,
        rgba(0, 0, 0, 0.025) 40px,
        rgba(0, 0, 0, 0.025) 80px),
        url("background.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}

header h1 {
    position: relative;
    z-index: 5;
    font-size: 60px;
    color: #f90;
    font-family: usual, sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 0 0 16px;
    padding-top: 120px;
    line-height: 1em;
    max-width: 720px;
}

header h2 {
    position: relative;
    z-index: 5;
    font-size: 36px;
    color: white;
    font-family: usual, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    line-height: 1em;
    max-width: 600px;
}

header main a {
    display: inline-block;
    font-size: 26px;
    color: whitesmoke;
    font-family: usual, sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 40px 0 0;
    border: 4px #f90 solid;
    padding: 12px 24px;
    text-decoration: none;
    outline: 0 #f90 solid;
    transition: .2s;
    text-transform: uppercase;
    position: relative;
    z-index: 5;
}

header main a:hover {
    background: #f90;
}

header .spacer {
    display: block;
    height: 30px;
}

header p {
    font-size: 28px;
    color: white;
    font-family: usual, sans-serif;
    font-weight: 400;
    font-style: normal;
    position: relative;
    z-index: 5;
}

.hamburger {
    position: fixed;
    top: 20px;
    left: 20px;
    display: block;
    height: 48px;
    width: 48px;
    background: url("hamburger.png");
    background-size: cover;
    background-position: center;
    z-index: 101;
}

#menu {
    display: block;
    background: rgb(12, 12, 12);
    padding: 20px;
    position: fixed;
    top: 0;
    left: -320px;
    width: 320px;
    height: 100vh;
    transition: 1s;
    z-index: 102;
}

#menu.open {
    left: 0%;
}

#menu a {
    display: inline-block;
    color: white;
    font-family: usual, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-size: 24px;
    clear: both;
    margin-top: 10px;
    float: left;
}

#menu a#register {
    margin-top: 80px;
}

#menu a:after {
    display: block;
    content: '';
    height: 3px;
    background: white;
    width: 0%;
    transition: .4s;
}

#menu a:hover::after {
    width: 100%;
}

#menu h1 {
    display: block;
    color: #f90;
    font-family: usual, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    font-size: 38px;
    clear: both;
    margin-top: 10px;
    padding-top: 0;
    text-transform: uppercase;
}

#menu img {
    height: 48px;
    width: 48px;
    float: right;
}

section {
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
    padding: 80px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

section.footer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #353535;
}

article.white section {
    max-width: 1400px;
    margin: 0 auto;
    padding: 80px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


section div {
    padding: 10px 10px 80px;
    display: block;
    position: relative;
    margin: 10px;
}

section.footer div {
    padding: 10px 10px 10px;
}

section svg {
    display: block;
    margin: 0 auto 20px;
    filter: drop-shadow(0 0 5px black);
}

section h1 {
    font-size: 32px;
    color: #f90;
    font-family: usual, sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 0;
    line-height: 1em;
    text-align: center;
}

section p {
    font-size: 20px;
    color: white;
    font-family: usual, sans-serif;
    font-weight: 400;
    font-style: normal;
}

section a {
    display: inline-block;
    font-size: 26px;
    color: whitesmoke;
    font-family: usual, sans-serif;
    font-weight: 700;
    font-style: normal;
    border: 3px #f90 solid;
    padding: 12px 24px;
    text-decoration: none;
    position: absolute;
    bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    transition: .2s;

}

section.footer a {
    position: relative;
    display: inline-block;
    padding: 0px 10px 10px;
    border: 0;
    text-align: left;
    font-size: 18px;
}

section.footer a:after {
    display: block;
    content: '';
    height: 5px;
    background: #f90;
    width: 0%;
    transition: .7s;
}

.footer a:hover::after {
    width: 100%;
}

.footer img {
    display: block;
    position: absolute;
    bottom: 20%;
    right: 0px;
    height: 80%;
    opacity: .1;
}

form {
    position: relative;
}

article img,
header img,
section img {
    display: block;
    position: absolute;
    top: 10%;
    left: 6%;
    height: 60%;
    opacity: .1;
}

header img#close {
    opacity: 1;
    position: relative;
    top: 0;
    left: 0;
    height: auto;
}

section.footer h1 {
    text-align: left;
    margin-bottom: 30px;
    text-shadow: 0 0 5px black;
    padding: 10px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 26px;
}

section.footer a.social {
    font-size: 32px;
    display: inline-block;
    border-radius: 50px;
    border: 3px solid whitesmoke;
    height: 64px;
    width: 64px;
    position: relative;
    text-align: center;
}

section.footer a.social:after {
    height: 0;
}

section.footer a.social i {
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

section.footer a:hover {
    color: #f90;
}

article.white section div {
    padding-bottom: 10px;
}

article.white section a {
    position: relative;
    display: inline-block;
}

article {
    position: relative;
    background: linear-gradient(45deg, black, rgb(56, 56, 56));
    padding: 40px 20px;
}

article.white {
    background: black;
    padding: 40px 20px;
}

article.white div.image {
    display: block;
    background: url("background.png");
    background-size: cover;
    background-position: center;
    outline: 10px #f90 solid;
    outline-offset: -20px;
}

article#crime {
    background: url("crime banner.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

article#contact {
    background: linear-gradient(90deg, rgba(255, 153, 0, 0.5), rgba(0, 0, 0, 0)), url("crime banner.png");
    background-size: cover;
    background-position: center;
}

article#northwest {
    background: url("northwest.png");
    background-size: cover;
    background-position: center;
    padding: 80px 20px;
}

article div.content {
    display: block;
    margin: 10px auto;
    padding: 10px;
    max-width: 1200px;
}

article svg {
    filter: drop-shadow(0 0 5px black);
    margin: 0 auto;
    display: block;
}

article h1 {
    font-size: 48px;
    color: #f90;
    font-family: usual, sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 0 0 24px;
    line-height: 1em;
    position: relative;
    z-index: 5;
}

article h1.hero {
    font-size: 72px;
}

article h2 {
    font-size: 32px;
    color: white;
    font-family: usual, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    line-height: 1em;
    position: relative;
    z-index: 5;
    position: relative;
    z-index: 5;
}

article h1.center,
article h2.center,
article p.center {
    text-align: center;
    margin: 16px 0 0;
    position: relative;
    z-index: 5;
}

article p {
    font-size: 24px;
    color: white;
    font-family: usual, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 40px;
    position: relative;
    z-index: 5;
    position: relative;
    z-index: 5;
}

article a,
article button {
    display: inline-block;
    font-size: 26px;
    color: whitesmoke;
    font-family: usual, sans-serif;
    font-weight: 700;
    font-style: normal;
    border: 3px #f90 solid;
    padding: 12px 24px;
    text-decoration: none;
    margin: 10px 10px 20px 0;
    text-transform: uppercase;
    transition: .2s;
    background: transparent;
    position: relative;
    z-index: 5;

}

article a.center {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
    position: relative;
    z-index: 5;
}

article a:hover,
article button:hover {
    background: #f90;
}

article.white h1 {
    color: #f90;
    border-color: black;
    text-align: left;
}

article.white h2,
article.white p,
article.white a {
    position: relative;
    z-index: 5;
    text-align: left;
}

article.white p {
    margin-top: 20px;
}

iframe {
    width: 100%;
    display: block;
    height: 600px;
}

@media screen and (max-width: 768px) {

    section,
    article.white section,
    section.footer {
        grid-template-columns: 1fr;
    }

    article.white section div.image {
        display: block;
        height: 400px;
    }

    article img,
    header img,
    section img {
        display: block;
        position: absolute;
        top: 10%;
        left: 6%;
        height: 40%;
        opacity: .1;
    }

    header img#close {
        opacity: 1;
        position: relative;
        top: 0;
        left: 0;
        height: auto;
    }
}

#buttonTop {
    position: fixed;
    bottom: 30px;
    right: 15px;
    background-color: #f90;
    color: whitesmoke;
    cursor: pointer;
    padding: 15px;
    border-radius: 15px;
    font-size: 24px;
    z-index: 100;
}

#buttonTop:hover {
    background-color: black;
}

form label {
    position: relative;
    display: block;
    border: 0;
    text-align: left;
    margin: 8px 0 0;
    color: white;
    font-family: usual,
        sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    text-transform: uppercase;
}

form input {
    position: relative;
    display: block;
    padding: 8px;
    border: 0;
    text-align: left;
    margin: 0 0 16px;
    color: orange;
    font-family: usual,
        sans-serif;
    font-weight: 700;
    font-style: normal;
    border-bottom: 4px orange solid;
    font-size: 22px;
    background: transparent;
    text-transform: uppercase;
}

form textarea {
    position: relative;
    display: block;
    padding: 8px;
    border: 0;
    text-align: left;
    margin: 0 0 16px;
    color: orange;
    font-family: usual,
        sans-serif;
    font-weight: 700;
    font-style: normal;
    border-bottom: 4px orange solid;
    font-size: 22px;
    background: transparent;
    text-transform: uppercase;
    width: 80%;
    height: 120px;
    resize: none;
}