.feature_crime {
    background: url("https://ak5.picdn.net/shutterstock/videos/25857725/thumb/1.jpg") repeat center;
    height: 100vh;
    cursor: crosshair;
}

.popup {
    display: block;
    padding: 20px;
    background: url("https://images.fineartamerica.com/images-medium-large-5/1-vintage-paper-texture-background-katsumi-murouchi.jpg");
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 12px;
    box-shadow: 0 0 20px black;
}

.spotlight {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: radial-gradient(circle, rgba(0, 0, 0, 0) 120px, rgba(0, 0, 0, 0.75) 160px);
    transition: .2s;
    top: 0;
    height: 100vh;
    pointer-events: none;
}

.spotlight .popup {
    pointer-events: all;
}

.spotlight h1 {
    font-size: 60px;
    color: black;
    font-family: usual, sans-serif;
    font-weight: 700;
    font-style: normal;
    left: 50%;
    top: 50%;
    text-align: center;
    margin: 0;
}

.spotlight p {
    font-size: 28px;
    color: black;
    font-family: usual, sans-serif;
    font-weight: 400;
    font-style: normal;
    position: relative;
    text-align: center;
    z-index: 5;
    margin: 0 auto;
    max-width: 600px;
    display: block;
}

.spotlight img {
    display: block;
    margin: 20px auto;
    height: 200px;
}

.spotlight button {
    background: none;
    border: none;
    font-size: 48px;
    color: black;
    display: block;
    margin: 0 auto;
    
}

#blood {
    display: block;
    height: 300px;
    width: 300px;
    background: url("blood.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 80%;
    left: 41%;
    mix-blend-mode: overlay;
}

#marker1 {
    display: block;
    height: 103.75px;
    width: 98.875px;
    background: url("marker.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 73%;
    left: 48%;
}

#documents {
    display: block;
    height: 125px;
    width: 125px;
    background: url("documents.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 27%;
    left: 26%;
}

#marker2 {
    display: block;
    height: 103.75px;
    width: 98.875px;
    background: url("marker.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 36%;
    left: 23%;
}

#weapon {
    display: block;
    height: 100px;
    width: 100px;
    background: url("weapon.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 70%;
    left: 76%;
}

#marker4 {
    display: block;
    height: 103.75px;
    width: 98.875px;
    background: url("marker.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 61%;
    left: 76%;
}

#prints {
    display: block;
    height: 60px;
    width: 60px;
    background: url("prints.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 20%;
    left: 86%;
    opacity: .5;
}

#prints_flip {
    display: block;
    height: 60px;
    width: 60px;
    background: url("prints.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 25%;
    left: 78%;
    opacity: .5;
    transform: rotateY(180deg) rotateZ(-40deg);
}

#marker3 {
    display: block;
    height: 103.75px;
    width: 98.875px;
    background: url("marker.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 8%;
    left: 80%;
}

#footprint {
    display: block;
    height: 130px;
    width: 130px;
    background: url("footprint.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 80%;
    left: 10%;
    opacity: .5;
}

#footprint_flip {
    display: block;
    height: 130px;
    width: 130px;
    background: url("footprint.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 65%;
    left: 6%;
    transform: rotateY(180deg);
    opacity: .5;
}

#marker6 {
    display: block;
    height: 103.75px;
    width: 98.875px;
    background: url("marker.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 64%;
    left: 14%;
}


#body {
    display: block;
    height: 191.11px;
    width: 800px;
    background: url("body.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 40%;
    left: 45%;
}

#marker5 {
    display: block;
    height: 103.75px;
    width: 98.875px;
    background: url("marker.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 4%;
    left: 48%;
}

#drugs {
    display: block;
    height: 100px;
    width: 100px;
    background: url("drugs.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 14%;
    left: 45%;
}

#wallet {
    display: block;
    height: 100px;
    width: 100px;
    background: url("wallet.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 14%;
    left: 7%;
}

#marker7 {
    display: block;
    height: 103.75px;
    width: 98.875px;
    background: url("marker.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 9%;
    left: 3%;
}